/*
    css taken from scrolling div example @ http://gazpo.com/2012/03/horizontal-content-scroll/
    customized for kfstxtracking server web interface
*/
html, body, ul, ol, li, form, fieldset, legend {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h3 {
    color: #c0c0c0;
}
        
body {
    font-family: 'Vollkorn', serif, Arial;
    font-size: 15px;
    line-height: 1.5;
    background-color: #39495A;
}
                
p {
    margin-bottom:15px;
}
        
a {
    color:#0073BF;
    text-decoration:none;
}
        
h2 {
    text-align:center;
    font-size:32px;
    font-weight:400;
}

h4 {
    text-align:center;
    font-size:18px; 
    font-weight:400;            
}
        
#wrap {          
    width:1280px;
    margin:0 auto;
}
        
#header {
    margin:20px 0;
}
                
#content {       
    overflow:hidden;
    -moz-box-shadow: 0 0 2px 2px #ccc;
    -webkit-box-shadow: 0 0 2px 2px #ccc;
    box-shadow: 0 0 2px 2px #ccc;           
}
        
.contentbox-wrapper {            
    position:relative; 
    left:0; 
    width:16000px; 
    height:820px;
}
        
.contentbox {
    width:1260px; 
    height:820px; 
    float:left; 
    padding:10px;
    background:#C8C8C8;
    overflow-y:auto;
    overflow-x:hidden;
}

#nav {
    margin-top:10px;
    border-bottom: 1px solid #DDDDDD;
    padding: 5px 10px;
}
        
#nav select {
    display:inline;
    margin-right:10px;
    text-transform: capitalize;
    font-family: 'Vollkorn', serif, Arial;
    font-size: 15px;
}

.content-table {
    width: 630px;
    cellpadding: 0;
    cellspacing: 0;
}
}
